.navbar {
  width: 100%;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background 0.3s ease, color 0.3s ease;
}

.navbar.light {
  background: #ffffff;
  color: #111;
  box-shadow: 0 2px 6px rgba(67, 67, 67, 0.193);
}

.navbar.dark {
  background: #1a202c;
  color: #f1f1f1;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.334);
}

.logo {
  padding: 4px 10px;
  background: linear-gradient(60deg,rgba(96, 165, 250, 1) 0%, rgba(56, 99, 186, 0.98) 86%);
  color: #fff;
  border-radius: 50px;
}

.logo-box {
  width: 35px;
  height: 35px;
  background: #60a5fa;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 34px;
  height: 34px;
  background: #60a5fa;
  color: white;
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.user {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight:500 ;
}
.user >span{
  margin: 0px;
}
.user >:nth-child(2){
  font-size: 14px;
  font-weight:400 ;
}
