.DashboardComponent h2 {
  font-size: 25px;
  font-weight: 600;
}

.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.addTaskFrom{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paginationWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}




/* ---------------Media query ------------ */
@media (max-width: 756px) {
  .DashboardComponent h2 {
    font-size: 20px;
    font-weight: 600;
  }
}
@media (max-width: 500px) {
  .cardsWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
