.Loding{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.607);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}