.dashboard {
  padding: 20px;
  margin: 20px 20px 0px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid gray;
}

.lightDashboard{
    background-color: #fff;
     border: 1px solid rgb(188, 188, 188);
}
.darkDashboard{
    background-color: #070830;
     border: 1px solid rgb(51, 51, 51);
}

.loginWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loginWrapper > :nth-child(1){
  width: 30%;
}
.navbar-left {
  padding: 4px 10px;
  background: linear-gradient(60deg,rgba(96, 165, 250, 1) 0%, rgba(56, 99, 186, 0.98) 86%);
  color: #fff;
  border-radius: 50px;
  margin: auto;
}
@media (max-width:1200px) {
  .loginWrapper > :nth-child(1){
  width: 40%;
}
}
@media (max-width:700px) {
  .loginWrapper > :nth-child(1){
  width: 50%;
}
}
@media (max-width:500px) {
  .loginWrapper > :nth-child(1){
  width: 80%;
}
}